.post {
    border-bottom: 1px solid var(--secondary);
}

.authorDisplayName {
    font-size: 18px;
}

.authorHandle {
    font-size: 17px;
}

.content {
    font-size: 17px;
    margin-top: 4px;
}


.action {
    font-size: 14px;
}