.post {
    color: var(--text);
}

.postProfilePicture {
    border-radius: 100%;
    transition: filter 0.2s ease-in-out;
}

.postProfilePicture:hover {
    filter: brightness(0.8);
}

.postAuthorName {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: var(--text);
}

.postAuthorHandle {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: rgb(83, 100, 113)
}

.postDate {
    color: gray;
}

.postIdentifier {
    display: flex;
    align-items: center;
}

.postText {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.postActions {
    display: flex;
    align-items: center;
}

.action {
    font-style: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--text);
    cursor: pointer;
    transition: color 0.1s ease-in-out;
    padding: 4px;
    border-radius: 64px;
}

.action:hover .actionIcon {
    filter: invert(24%) sepia(97%) saturate(7491%) hue-rotate(334deg) brightness(102%) contrast(98%);
}

.action:hover .actionValue {
    color: #fc0a5a;
}

.actionIcon:not(.activatedActionIcon) {
    filter: brightness(0) saturate(100%) invert(43%) sepia(10%) saturate(626%) hue-rotate(227deg) brightness(94%) contrast(84%);
}

.action:hover {
    background-color: rgb(204, 204, 204);
}

.activatedActionIcon {
    filter: invert(24%) sepia(97%) saturate(7491%) hue-rotate(334deg) brightness(102%) contrast(98%);
}

.actionValue {
    color: #746a7e;
}

.activatedActionValue {
    color: #fc0a5a;
}

.actionLike:hover {
    background-color: #fc0a5b2d;
}